@tailwind base;
@tailwind components;
@tailwind utilities;

html, #root, body {
    height: 100%;
}

body{
    font-size: 16px;
}

.ant-checkbox-group{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.container {
    background-image: url("./assets/shar.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: 140% 30%;
}
